.main-page__content {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.main-page__main-section {
    padding: 10px;
    box-sizing: border-box;
    width: 40%;
}

.main-page__search-box {
    margin-bottom: 35px;
}

.main-page__favorites {
    min-width: 400px;
    padding: 10px; 
    box-sizing: border-box;  
}

@media (max-width: 900px) {
    .main-page__content {
        flex-wrap: wrap;
        padding: 20px;
        margin: 0;
    }

    .main-page__main-section,
    .main-page__favorites {
        min-width: 100%;
        margin-bottom: 5px;
    }

    .main-page__main-section {
        order: 2;
        margin-bottom: 5px;
    }
}